@import "tailwindcss";
@keyframes glow {
    0%, 100% {
      box-shadow: 0 0 20px rgba(168, 85, 247, 0.5),
                  0 0 40px rgba(168, 85, 247, 0.3),
                  0 0 60px rgba(168, 85, 247, 0.2);
    }
  }
  
  .glow {
    box-shadow: 0 10px 20px rgba(168, 85, 247, 0.6),
                0 20px 60px rgba(168, 85, 247, 0.4),
                0 30px 80px rgba(168, 85, 247, 0.2);
  } 